<div class="responsive-grid">
    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-4 py-6 mx-auto">
            <div class="w-full max-w-7xl bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-2xl xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Venta
                    </h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                    <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                        <div class="grid grid-cols-6 gap-6">
                            <div class="col-span-6">
                                <label for="Correo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo Electrónico</label>
                                <input type="text" name="Correo" id="Correo" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="IdBodega_Origen" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ID Bodega Origen</label>
                                <input type="text" name="IdBodega_Origen" id="IdBodega_Origen" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="Producto" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Producto</label>
                                <input type="text" name="Producto" id="Producto" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="DocSubtotalumentoU" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Subtotal</label>
                                <input type="text" name="Subtotal" id="Subtotal" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="" required>
                            </div>
                            
                            <div class="col-span-6 sm:col-span-3">
                                <label for="Iva" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">IVA</label>
                                <input type="text" name="Iva" id="Iva" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="" required>
                            </div>
                            <div class="col-span-6 sm:col-span-3">
                                <label for="Total" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Total</label>
                                <input type="text" name="Total" id="Total" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="" required>
                            </div>
                            <div class="col-span-6 sm:col-full flex justify-center">
                                <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                                    Vender
                                </button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-4 py-6 mx-auto">
          <div class="w-full max-w-7xl bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-2xl xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Ventas
            </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
              <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">       
                  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                          <tr>
                              <th scope="col" class="px-6 py-3">
                                  Correo Electrónico
                              </th>
                              <th scope="col" class="px-6 py-3">
                                  ID Bodega Origen
                              </th>
                              <th scope="col" class="px-6 py-3">
                                  Producto
                              </th>
                              <th scope="col" class="px-6 py-3">
                                  Subtotal
                              </th>
                              <th scope="col" class="px-6 py-3">
                                IVA
                              </th>
                              <th scope="col" class="px-6 py-3">
                                Total
                              </th>
                              <th scope="col" class="px-6 py-3">
                                  <span class="sr-only">Editar</span>
                              </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                  burrita@gmail.com
                              </th>
                              <td class="px-6 py-4">
                                  11
                              </td>
                              <td class="px-6 py-4">
                                  Acetaminofén
                              </td>
                              <td class="px-6 py-4">
                                $200.000
                              </td>
                              <td class="px-6 py-4">
                                  %19
                              </td>
                              <td class="px-6 py-4">
                                220.000
                              </td>
                              <td class="px-6 py-4 text-right">
                                  <a (click)="openModal()" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                              </td>
                          </tr>     
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      

