/* Estilos para la sección "home" */
.home {
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    transition: all 0.3s ease;
  }
  
  .home .text {
    padding: 12px 60px;
  }
  
  .sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
  }
  
  body.dark .home .text {
    color: #ccc;
  }

  
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 0 16px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
  }

  nz-footer {
    text-align: center;
  }

  