<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-4 py-6 mx-auto">
        <div class="w-full max-w-7xl bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-2xl xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h3 class="text-3xl font-bold dark:text-white">Purchase</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe aut accusantium voluptate tenetur iusto unde quos iure tempora, architecto assumenda. Quaerat rerum dolore, recusandae cum distinctio voluptatem doloribus architecto repellat!</p>
                <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                    <!-- <h3 class="mb-4 text-xl font-semibold dark:text-white">Añadir información</h3> -->
                    <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-3">
                            <label for="CodigoF" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Código de Factura</label>
                            <input type="text" name="CodigoF" id="CodigoF" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="CodigoF" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="Cantidad" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cantidad</label>
                            <input type="text" name="Cantidad" id="Cantidad" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Burrita" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="DocumentoP" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Documento Persona</label>
                            <input type="text" name="DocumentoP" id="DocumentoP" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="DocumentoP" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="DocumentoU" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Documento Usuario</label>
                            <input type="text" name="DocumentoU" id="DocumentoU" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="DocumentoU" required>
                        </div>
                        
                        <div class="col-span-6 sm:col-span-3">
                            <label for="identificacion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Id Bodega de Destino</label>
                            <input type="text" name="IdBodega_Destino" id="IdBodega_Destino" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Bodega Destino" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="Producto" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Producto</label>
                            <input type="text" name="Producto" id="Producto" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Producto" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="Subtotal" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Subtotal</label>
                            <input type="text" name="Subtotal" id="Subtotal" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="example@gmail.com" required>
                        </div>
                        <div class="col-span-6 sm:col-full flex justify-center">
                            <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>